@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khand&display=swap');

body {
  background: url(images/omar-flores-lQT_bOWtysE-unsplash.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
}

header {
  font-family: 'Khand', sans-serif;
  background: rgba(156, 153, 153, 0.555);
  backdrop-filter: blur(7px);
  height: 80px;
  width: 100%;
  position: absolute;
}

main {
 /* background: rgba(156, 153, 153, 0.555);
  backdrop-filter: blur(7px); */
  position: absolute;
  top: 115%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height: 200%;
  width: 80%;
  border-radius: 50px;
}

#logo {
  color: gold;
  font-size: 35px;
  font-weight: bold;
  font-style: italic;
  line-height: 80px;
  background-color: black;
  margin: 0 50px;
  padding: 0px 30px;
  border-radius: 50px;
}

footer {
  font-family: 'Khand', sans-serif;
  background: rgba(156, 153, 153, 0.555);
  backdrop-filter: blur(7px);
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: -133%;
}

h1 {
  margin-top: 0px;
}

footer ul {
  float: none;
  text-align: center;
  margin: 35px 300px 0 300px;
  border-radius: 5%;
}

footer ul li {
  font-size: 25px;
  display: inline-block;
  text-decoration: dashed;
  margin: 0 25px;
}

#foot {
  background-color: rgba(233, 98, 98, 0.836);
  font-family: 'Khand', sans-serif;
  padding: 5px 30px;
  border-radius: 50px;
}

a :hover{
  color: crimson;
}

nav {
  top: 0;
  left: 0;
  right: 0;
  position: relative;
} 

nav ul {
  float: right;
  margin: 16px 55px;
  text-align: center; 
}

nav ul li{
  display: inline-block;
  margin-right: 25px;
}

nav ul li a{
  text-decoration: none;
  font-size: 25px;
  color: gold;
  margin: 0 20px;
} 

nav ul li button{
  text-decoration: none;
  font-size: 25px;
  color: gold;
  margin: 0 20px;
  background: none;
  cursor: pointer;
} 

#HeaderNav {
  background-color: black;
  font-family: 'Khand', sans-serif;
  padding: 5px 30px;
  border-radius: 50px; 
  line-height: 35px;
}

a:hover{
  color: rgba(233, 98, 98, 0.836) ;
}

button:hover{
  color: rgba(233, 98, 98, 0.836) ;
}

#ProfileHead{
font-family: 'Khand', sans-serif;
  color: black;
  position: absolute;
  font-size: 35px;
  font-weight: bold;
  line-height: 80px;
  margin: 50px -500px;
  padding: 0px 30px;
  border: 3px;
  border-style: solid;
}

#SectionOneB {
  background: url(images/pink-g3f5e061dc_1920.jpg) ;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-position-y: 0%;
  position: absolute;
  top: 15%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height: 33%;
  width: 100%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-style: solid;
  border-color: black;
  text-align: center;
}

#AboutPro{
    color: black;
    position: absolute;
    font-size: 18px;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Khand', sans-serif;
    background-color: rgba(255, 255, 255, 0.27);
    backdrop-filter: blur(0.5px);
    margin: 200px 108px 0 108px;
    padding: 5px 5px;
    border: 3px;
    border-style: solid;
    text-align: left;
    line-height: 30px ;
}

#AboutCon{
    color: black;
    position: absolute;
    font-size: 18px;
    font-family: 'Khand', sans-serif;
    background-color: rgba(255, 255, 255, 0.27);
    backdrop-filter: blur(0.5px);
    margin: 290px 0px 0 500px;
    padding: 5px 5px;
    border: 3px;
    border-style: solid;
    text-align: left;
    line-height: 30px ;
}

#AboutInt{
    color: black;
    position: absolute;
    font-size: 18px;
    font-family: 'Khand', sans-serif;
    background-color: rgba(255, 255, 255, 0.27);
    backdrop-filter: blur(0.5px);
    margin: 200px 0px 0 900px;
    padding: 5px 5px;
    border: 3px;
    border-style: solid;
    text-align: left;
    line-height: 30px ;
}

#AboutHead {
    color: black;
    position: absolute;
    font-size: 35px;
    font-weight: bold;
    line-height: 80px;
    margin: 50px -500px;
    padding: 0px 30px;
    border: 3px;
    border-style: solid;
    font-family: 'Khand', sans-serif;
  }
  

#SectionTwoB {
  background: url(images/blue-g7f90cfd18_1920.jpg) ;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-position-y: 0%;
  font-family: 'Khand', sans-serif;
  position: absolute;
  top: 65.8%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height: 69%;
  width: 100%;
  border-style: solid;
  border-color: black;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  text-align: center;
}

section nav {
    top: 0;
    left: 0;
    right: 0;
    position: relative;
  } 
  
section nav ol {
    float: left;
    margin: 175px 45px;
    text-align: left; 
    
  }
  
section nav ol li{
    margin-right: 25px;
  }
  
 section nav ol li a{
    text-decoration: none;
    list-style-type: decimal;
    font-size: 25px;
    color: black;
    margin: 0 20px;
  } 

a.active {
    color: rgba(59, 163, 233, 0.959);
}

#eduGame
{
  height: 625px;
  width: 1100px;
  border: 3px;
  border-color: black;
  border-style: solid;
}

#lasGame
{
  height: 625px;
  width: 1100px;
  border: 3px;
  border-color: black;
  border-style: solid;
}

#jengaGame
{
  height: 625px;
  width: 1100px;
  border: 3px;
  border-color: black;
  border-style: solid;
}

#aaGame
{
  height: 625px;
  width: 1100px;
  border: 3px;
  border-color: black;
  border-style: solid;
}

#blambo
{
  height: 625px;
  width: 1100px;
  border: 3px;
  border-color: black;
  border-style: solid;
}

#levelDesign
{
  height: 625px;
  width: 1100px;
  border: 3px;
  border-color: black;
  border-style: solid;
}



* {box-sizing:border-box}


.slideReel-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  top: 19%;
}


.mySlideShow {
  display: none;
  
}




.caption {
  color: black;
  font-size: 18px;
  padding: 8px 12px;
  position: absolute;
  top: 104%;
  width: 100%;
  text-align: center;
}


.fade {
  animation-name: fade;
  animation-duration: 2.0s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.profile{
  margin: 200px 10px 0 50px;
  
}

.profile ul{
float: left;
border-style: solid;
padding: 30px 30px;
font-family: 'Khand', sans-serif;
font-size: 18px;
text-align: left;
margin: 0px 143px;
}

.profile ul li{
  display: inline-table;
}

.bars{
  display: none;
  font-size: 40px;
  color: black;
  margin: -6.5% 3.3%;
  line-height: 80px;
  float: right;
  cursor: pointer;
  
  }
  
  
  #menuCheck{
    display: none;
  }


  @media (max-width: 400px)
{
  body {
    width: 100vw;
    background-repeat: repeat;
  }

  header{
   width: 135.5vw;
   z-index: 1;
  }

  #BlogHead{
    color: black;
    position: absolute;
    font-size: 1rem;
    line-height: 40px;
    margin: -10px -155px;
    padding: 0px 20px;

  }

  #SectionOneB {
    position: absolute;
    top: 70%;
    left: 72%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 25vh;
    width: 150%;
    line-height: 11px;
  }

  #SectionTwoB {
    top: 125%;
    left: 72%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 65vh;
    width: 150%;
    background-repeat: repeat-y;
  }

  #SectionThree {
    top: 142%;
    left: 72%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 25vh;
    width: 150%;
  }
  

  #AboutHead {
    font-size: 0.8rem;
    line-height: 40px;
    margin: -10px -200px;
    padding: 0px 10px;
  }

  #AboutP{
    font-size: 0.75rem;
    margin: 55px 34px -20px 34px;
    padding: 5px 5px;
    border: 3px;
    border-style: solid;
    text-align: left;
    line-height: 11px ;
  }

  #AboutP2{
    font-size: 0.65rem;
    margin: 40px 10px -20px 10px;
    padding: 5px 5px;
    border: 3px;
    border-style: solid;
    text-align: left;
    line-height: 10px ;
  }

  #AboutP2{
    font-size: 0.65rem;
    margin: 40px 10px -20px 10px;
    padding: 5px 5px;
    border: 3px;
    border-style: solid;
    text-align: left;
    line-height: 10px ;
  }
  
  #AboutP3{
    font-size: 0.65rem;
    margin: 40px 10px -20px 10px;
    padding: 5px 5px;
    border: 3px;
    border-style: solid;
    text-align: left;
    line-height: 11px ;
  }


  #logo{
    padding: 0 3%;
  }

  .bars{
    display: block;
    margin: -19% 3.3%;
  }

  nav ul{
    position: fixed;
    width: 100%;
    height: 50vh;
    text-align: center;
    top: 69px;
    z-index: 1;
    left: -130%;
  }

  #HeaderNav{
    background:  rgba(156, 153, 153, 0.659);
    backdrop-filter: blur(7px);
    position: absolute;
    left: 0px;
    height: 35vh;
    top: 7.6vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    transform: translateX(199%);

    z-index: 1;
  }

  #HeaderNav.mover {
    transform: translateX(400%);
    display: none
  } 
  nav ul li{
    display: block;
    padding: 10px 0;

  }


  nav ul li{
    display: block;
    padding: 10px 0;

  }

  nav ul li button{
    font-size: 25px;
    background-color: black;
  }


  #menuCheck:checked {
    left: 0;
  }

  footer {
    height: 11vh;
    width: 135.5vw;
    position: absolute;
    top: 105%;
  }

  main {
    top: 10%;
     height: 80vh ;
  }

  footer ul {
    margin: 6% 2% 0 2%;

  }

  footer ul li {
    font-size: 1rem;
    display: inline-block;
    text-decoration: dashed;
    margin: 0 2.9%;
  }

  #foot {
    padding: 0.8% 3%;
    border-radius: 22.7rem;
    
  }

  section nav ol {
    margin: 40px 20px; 
  }
  
section nav ol li{
    font-size: 0.75rem;
  }
  
 section nav ol li label{
    font-size: 0.5rem;
  } 

  #eduGame
{
  height: 234px;
  width: 340px;
  border: 3px;
  border-color: black;
  border-style: solid;
}

#lasGame
{
  height: 234px;
  width: 340px;
  border: 3px;
  border-color: black;
  border-style: solid;
}

#jengaGame
{
  height: 234px;
  width: 340px;
  border: 3px;
  border-color: black;
  border-style: solid;
}

#aaGame
{
  height: 234px;
  width: 340px;
  border: 3px;
  border-color: black;
  border-style: solid;
}

#blambo
{
  height: 234px;
  width: 340px;
  border: 3px;
  border-color: black;
  border-style: solid;
}

#levelDesign
{
  height: 234px;
  width: 340px;
  border: 3px;
  border-color: black;
  border-style: solid;
}

.profile{
  margin: 10px 15px 0 15px;
  
}

.profile ul{
float: left;
border-style: solid;
padding: 1px 1px;
font-family: 'Khand', sans-serif;
font-size: 0.6rem;
text-align: left;
margin: -10px 603px;
}

.profile ul li{
  display: inline-table;
}

#ProfileHead{
    position: absolute;
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 40px;
    margin: -10px -200px;
    padding: 0px 15px;
    border: 3px;
    border-style: solid;
  }

}

@media (min-width: 401px) and (max-width:821px)
{

  body {
    width: 100vw;
    background-repeat: repeat;
  }

  header{
   width: 135.5vw;
   z-index: 2;
  }

  #BlogHead{
    color: black;
    position: absolute;
    font-size: 1rem;
    line-height: 40px;
    margin: -10px -155px;
    padding: 0px 20px;

  }

  #SectionOneB {
    position: absolute;
    top: 78%;
    left: 72%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 35vh;
    width: 150%;
    line-height: 11px;
    z-index: -1;
  }

  #SectionTwoB {
    top: 140%;
    left: 72%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 65vh;
    width: 150%;
    background-repeat: repeat-y;
  }

  #SectionThree {
    top: 142%;
    left: 72%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 25vh;
    width: 150%;
  }
  

  #AboutHead {
    font-size: 2rem;
    line-height: 60px;
    margin: 10px -400px;
    padding: 0px 10px;
  }

  #AboutP{
    font-size: 0.75rem;
    margin: 55px 34px -20px 34px;
    padding: 5px 5px;
    border: 3px;
    border-style: solid;
    text-align: left;
    line-height: 11px ;
  }

  #AboutP2{
    font-size: 0.65rem;
    margin: 40px 10px -20px 10px;
    padding: 5px 5px;
    border: 3px;
    border-style: solid;
    text-align: left;
    line-height: 10px ;
  }

  #AboutP2{
    font-size: 0.65rem;
    margin: 40px 10px -20px 10px;
    padding: 5px 5px;
    border: 3px;
    border-style: solid;
    text-align: left;
    line-height: 10px ;
  }
  
  #AboutP3{
    font-size: 0.65rem;
    margin: 40px 10px -20px 10px;
    padding: 5px 5px;
    border: 3px;
    border-style: solid;
    text-align: left;
    line-height: 11px ;
  }


  #logo{
    padding: 0 3%;
  }

  .bars{
    display: block;
    margin: -9% 3.3%;
  }

  nav ul{
    position: fixed;
    width: 100%;
    height: 50vh;
    text-align: center;
    top: 69px;
    z-index: 1;
    left: -130%;
  }

  #HeaderNav{
    background:  rgba(156, 153, 153, 0.659);
    backdrop-filter: blur(7px);
    position: absolute;
    left: 0px;
    height: 30vh;
    top: 5.4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    transform: translateX(374%);
  }

  #HeaderNav.mover {
    transform: translateX(400%);
    display: none
  }


  nav ul li{
    display: block;
    padding: 10px 0;

  }

  nav ul li button{
    font-size: 25px;
    background-color: black;
  }


  #menuCheck:checked {
    left: 0;
  }

  footer {
    height: 11vh;
    width: 135.5vw;
    position: absolute;
    top: 125%;
  }

  main {
    top: 10%;
     height: 80vh ;
  }

  footer ul {
    margin: 3% 2% 0 2%;

  }

  footer ul li {
    font-size: 2rem;
    display: inline-block;
    text-decoration: dashed;
    margin: 0 2.9%;
  }

  #foot {
    padding: 0.8% 3%;
    border-radius: 22.7rem;
    
  }

  section nav ol {
    margin: 40px 20px; 
  }
  
section nav ol li{
    font-size: 0.75rem;
  }
  
 section nav ol li label{
    font-size: 0.5rem;
  } 

  #eduGame
{
  height: 468px;
  width: 700px;
  border: 3px;
  border-color: black;
  border-style: solid;
}

#lasGame
{
  height: 468px;
  width: 700px;
  border: 3px;
  border-color: black;
  border-style: solid;
}

#jengaGame
{
  height: 468px;
  width: 700px;
  border: 3px;
  border-color: black;
  border-style: solid;
}

#aaGame
{
  height: 468px;
  width: 700px;
  border: 3px;
  border-color: black;
  border-style: solid;
}

#blambo
{
  height: 468px;
  width: 700px;
  border: 3px;
  border-color: black;
  border-style: solid;
}

#levelDesign
{
  height: 468px;
  width: 700px;
  border: 3px;
  border-color: black;
  border-style: solid;
}


.profile ul{
float: left;
border-style: solid;
padding: 10px 5px;
font-family: 'Khand', sans-serif;
font-size: 1.4rem;
text-align: left;
margin: 50px 1273.5px;
}

.profile ul li{
  display: inline-table;
  line-height: 20px;
}

#ProfileHead{
    position: absolute;
    font-size: 2rem;
    font-weight: bold;
    line-height: 60px;
    margin: 10px -400px;
    padding: 0px 15px;
    border: 3px;
    border-style: solid;
  }



}
